.App {
  font-family: "Roboto", sans-serif;
  max-width: 1024px;
  margin: 20px auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.input-container {
  width: 400px;
  height: 500px;
  margin: 50px auto;
}
.input-container input {
  margin-bottom: 15px;
  height: 40px;
  width: 400px;
  border-radius: 5px;
  background-color: #fcf9f9;
}
.input-container .submit {
  margin-top: 30px;
  background-color: #574dcc;
  color: white;
}
.input-container p {
  margin-bottom: 5px;
}
